##Importing libraries

In [102]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
import xgboost as xgb
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder 
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

##Loading dataset

In [58]:
df = pd.read_csv('/content/marketing_campaign.csv',delimiter = '\t')

In [63]:
df

         ID  Year_Birth   Education  ...  Age  TotalFamilyMembers  label
0      5524        1957  Graduation  ...   64                   1      6
1      2174        1954  Graduation  ...   67                   3      0
2      4141        1965  Graduation  ...   56                   2      0
3      6182        1984  Graduation  ...   37                   3      0
4      5324        1981         PhD  ...   40                   3      0
...     ...         ...         ...  ...  ...                 ...    ...
2210  10870        1967  Graduation  ...   54                   3      0
2211   4001        1946         PhD  ...   75                   5      1
2212   7270        1981  Graduation  ...   40                   1      4
2213   8235        1956      Master  ...   65                   3      0
2214   9405        1954         PhD  ...   67                   4      6

[2215 rows x 33 columns]

##Formatting Data

In [59]:
current_date = date(2021,11,3)
df['member_since']=pd.to_datetime(df['Dt_Customer'], dayfirst=True,format = '%d-%m-%Y')
df['member_since'] = pd.to_numeric(df['member_since'].dt.date.apply(lambda x: (current_date - x)).dt.days, downcast='integer')
df['Age']=2021-df['Year_Birth']
df['Marital_Status']=df['Marital_Status'].replace({'Divorced':1,'Single':1,'Married':2,'Together':2,'Absurd':1,'Widow':1,'YOLO':1, 'Alone':1})
df['TotalFamilyMembers'] = df['Marital_Status'].astype(int) + df['Kidhome'].astype(int) + df['Teenhome'].astype(int)
df.dropna(subset = ['Income'], inplace=True)
df=df[df['Income']<600000]
df.reset_index(inplace=True, drop = True)

In [41]:
df = df[['member_since', 'Age', 'TotalFamilyMembers', 'Income','Recency', 'MntWines', 'MntFruits','MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases','NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4', 'AcceptedCmp5', 'Complain', 'Response']]

In [67]:
X = df[['member_since', 'Age', 'TotalFamilyMembers', 'Income','Recency', 'MntWines', 'MntFruits','MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases','NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',  'Complain']]
y = df['label']

In [ ]:
df['label'] = 0
for i in range(len(df['Age'])):
  if int(df['AcceptedCmp1'][i]) == 1:
    df['label'][i] = 1
  elif int(df['AcceptedCmp2'][i]) == 1:
    df['label'][i] = 2
  elif int(df['AcceptedCmp3'][i]) == 1:
    df['label'][i] = 3
  elif int(df['AcceptedCmp4'][i]) == 1:
    df['label'][i] = 4
  elif int(df['AcceptedCmp5'][i]) == 1:
    df['label'][i] = 5
  elif int(df['Response'][i]) == 1:
    df['label'][i] = 6

#Splitting Data

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.02, random_state=5)

##Running the model

In [99]:
model = XGBClassifier(learning_rate=0.001, n_jobs=4, n_estimators=50, max_depth = 3, colsample_bytree = 0.95, colsample_bynode=0.9) 
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=0.9, colsample_bytree=0.95, gamma=0,
              learning_rate=0.001, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=50, n_jobs=4,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

##Predicting values

In [100]:
y_pred = model.predict(X_test) 
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions) 
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.89%